html, body {
    min-height: 100%;
    height: 100%;
  }

  li {
    margin-right: 20px;
  }

  .fill {
    height: 100%;
  }

  body {
    padding-top: 58px; /* space for the top nav bar */
  }

  #appBuckets {
    overflow: auto;
    width: 100%;
    height: calc(100vh - 150px);
  }
  
  .forge-viewer {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .buscadorTexto{
    margin-right: 20px;
  }

  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 30px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(-26px);
  -ms-transform: translateX(-26px);
  transform: translateX(-26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.displayFlex{
  display: flex;
}

.padding2{
  padding: 2%;
}

.incidencia{
  color: red;
  text-align: right;
}

.incidencia:hover{
  background-color: rgb(233, 229, 229);
}

.incidenciaSelected{
  background-color: rgb(233, 229, 229);
}

.mt-15px{
  margin-top: 15px;
}

.primeraExtensionIcon {
  background-image: url(/img/extensionIOT.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.botonTarea {
  background-image: url(/img/tarea.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.botonTarea.active {
  background-image: url(/img/tareaActive.png);
}

.padding0{
  padding: 0;
}

.lateral{
  background-color: #4d4b4b;
}

.row [class*='col-'] {
  transition: all 0.5s ease-in-out;
}

.col-xs-0, 
.col-sm-0,
.col-md-0,
.col-lg-0 {
  flex: 0 0 0;
  max-width: 0;
  padding-right: 0;
  padding-left: 0;
}

.tituloAnotacionesContainer{
  display: flex;
  background-color: #4d4b4b;
  align-items: center;
  justify-content: space-between;
}

.tituloAnotaciones{
  background-color: #4d4b4b;
  color: white;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.listaAnotaciones{
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #a1a0a0;
  border-radius: 0px 0px 10px 10px;
}

.gestionarAnotaciones{
  background-color: #c9c9c9;
}

.elementoAnotacion{
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  background-color: #c2aa5c;
  border: 1px solid rgba(0,0,0,.125);
  width: 100%;
}

.elementoAnotacionSeleccionado{
  background-color: #8f7a36;
}

.elementoAnotacion:hover{
  background-color: #8f7a36;
}

.tagImg{
  margin-left: 20px;
}

.plusImg{
  margin-right: 4px;
}

.minusImg{
  cursor: pointer;
  margin-right: 10px;
}

.botonera{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

input[type="text"]:disabled {
  background: #ece5bb;
}

textarea:disabled{
  background: #ece5bb !important;
}

.form-group{
  margin-bottom: 10px;
}

.displayNone{
  display: none;
}

textarea {
  resize: none;
}

.btnForm {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btnEditar {
  color: #fff;
  background-color: #424443;
  border-color: #424443;
}

.btnNuevo{
  color: #fff;
  background-color: #2c61b1;
  border-color: #2c61b1;
}