html, body {
    min-height: 100%;
    height: 100%;
  }

  li {
    margin-right: 20px;
  }

  .fill {
    height: calc(100vh - 100px);
  }

  body {
    padding-top: 60px; /* space for the top nav bar */
    margin-right: 30px;
  }

  #appBuckets {
    overflow: auto;
    width: 100%;
    /* height: calc(100vh - 150px); */
  }

  .forge-viewer {
    position: relative;
    width: 100%;
    height: calc((100vh - 140px)/2);
  }

  .buscadorTexto{
    margin-right: 20px;
  }

  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 30px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(-26px);
  -ms-transform: translateX(-26px);
  transform: translateX(-26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.displayFlex{
  display: flex;
}

.padding2{
  padding: 2%;
}

.incidencia{
  color: red;
  text-align: right;
}

.incidencia:hover{
  background-color: rgb(233, 229, 229);
}

.incidenciaSelected{
  background-color: rgb(233, 229, 229);
}

.mt-15px{
  margin-top: 15px;
}

.primeraExtensionIcon {
  background-image: url(/img/extensionIcon.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.segundaExtensionIcon {
  background-image: url(/img/extension2Icon.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
